.card1{
    height: 75vh;
    background-color: aquamarine;
    font-size: medium;
    font-weight: bolder;
    .card-body1 div{
        padding: 5px;
        button{
            text-align: center;
            justify-content: center;
        }
    }

.card-title1{
    text-align: center;
    color: blue;
}
}